<html>

    <head>
        <title>Todo List</title>;
        <script src="jquery-3.4.1.min.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">

    </head>
    <body>  
        <h1>My Todo List</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="add new item.." required>
                <button type="submit" >add item</button>

            </form>
            <ul>
                <li>item1</li>
                <li>item3</li>
                <li>item2</li>
            </ul>

        </div>



    </body> 

</html>